<!-- begin control -->
<div class="control">
	<div class="control__inner inner">
		<div class="control__row">
			<div class="control__col">
				<div class="control__img"><img src="./img/control-img.png" alt="img"></div>
			</div>
			<div class="control__col">
				<div class="control__wrap">
					<h2 class="control__title title-md">Control <strong class="highlight text-blue">sin esfuerzo</strong></h2>
					<p>Nuestro exclusivo motor de gestión le alertará ante cualquier incumplimiento de manera inmediata, encargándose automáticamente de todo el control de horarios de su personal.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end control -->