<!-- begin form -->
<div class="form js-form" data-section="form">
	<div class="form__inner inner">
		<button class="form__close js-close-form" type="button">
			{{ mixins.icon('close') }}
		</button>
		<div class="form__wrap">
			<form action="/">
				<a href="#" class="form__logo"><img src="./img/form-logo.png" alt="logo"></a>
				<div class="form__description">
					<p>Contáctenos para acceder a una demo de Cloudtimes.</p>
					<p>Un asesor se pondrá en contacto a la brevedad.</p>
				</div>
				<div class="form__row">
					<label class="field js-field">
						<span class="field__label">Nombre</span>
						<input type="text" class="input js-field-input">
					</label>
				</div>
				<div class="form__row">
					<label class="field js-field">
						<span class="field__label">Email</span>
						<input type="text" class="input js-field-input">
					</label>
				</div>
				<div class="form__row">
					<label class="field js-field">
						<span class="field__label">Teléfono</span>
						<input type="text" class="input js-field-input">
					</label>
				</div>
				<div class="form__row">
					<label class="field js-field">
						<span class="field__label">Empresa</span>
						<input type="text" class="input js-field-input">
					</label>
				</div>
				<div class="form__footer">
					<button class="btn" type="submit">ENVIAR CONTACTO</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end form -->