<!-- begin simpler -->
<div class="simpler" data-section="simpler">
	<div class="simpler__inner inner">
		<div class="simpler__row">
			<div class="simpler__col">
				<div class="simpler__wrap">
					<h2 class="simpler__title title-md">Más simple, <strong class="highlight text-blue">no existe</strong></h2>
					<p>El sistema gráfico de Cloudtimes permite la visualización de de todo un mes de trabajo en una única línea y sin filtrar. Nuestro exclusivo software mostrará de manera muy intuitiva si el empleado cumplió correctamente su jornada, si tiene algún incumplimiento en sus marcas, o si no asistió.</p>
				</div>
			</div>
			<div class="simpler__col">
				<ul class="simpler__points points">
					<li class="points__item points__item_light-gray"></li>
					<li class="points__item points__item_gray"></li>
					<li class="points__item points__item_turquoise"></li>
					<li class="points__item points__item_casablanca"></li>
					<li class="points__item points__item_geraldine"></li>
					<li class="points__item points__item_light-gray"></li>
					<li class="points__item points__item_gray"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end simpler -->