<!-- begin solution -->
<div class="solution" style="background-image: url(./img/solution-bg.jpg);">
	<div class="solution__inner inner">
		<div class="solution__wrap">
			<h2 class="solution__title title-md">¿Muchas sucursales? <strong class="highlight text-blue">Una misma solución</strong></h2>
			<p>¿Un empleado? ¿Cientos de empleados? Lo tenemos cubierto.</p>
			<p>Cloudtimes centraliza de manera automática y en tiempo real la información de todos los locales de su empresa, ¿y lo mejor? <strong class="highlight-small">¡en la nube!</strong></p>
		</div>
	</div>
</div>
<!-- end solution -->