<!-- begin technologies -->
<div class="technologies" data-section="technologies">
	<div class="technologies__inner inner">
		<ul class="technologies__list">
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/device.svg" alt="icon">
				</span>
				<span class="technologies__name">Acceso web <br>Cloud-based</span>
			</li>
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/imprint.svg" alt="icon">
				</span>
				<span class="technologies__name">Equipos biométricos <br>gratuitos</span>
			</li>
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/purse.svg" alt="icon">
				</span>
				<span class="technologies__name">Sin costo <br>inicial</span>
			</li>
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/cloud.svg" alt="icon">
				</span>
				<span class="technologies__name">No requiere <br>instalación</span>
			</li>
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/clock.svg" alt="icon">
				</span>
				<span class="technologies__name">Ahorro de tiempo de <br>recursos humanos</span>
			</li>
			<li class="technologies__item">
				<span class="technologies__icon">
					<img src="./img/support.svg" alt="icon">
				</span>
				<span class="technologies__name">Soporte a <br>usuarios</span>
			</li>
		</ul>
	</div>
</div>
<!-- end technologies -->